<md-dialog aria-label="About">
    <md-toolbar class="md-toolbar-tools">
        <div class="md-title">About</div>
        <div flex></div>
        <md-button class="md-icon-button md-primary" ng-click="cancel()" title="Close">
            <!--<i class="material-icons" style="color: black;" aria-label="Close dialog">close</i>-->
            <md-icon class="material-icons md-light md-64 md-title" style="color: black;"> close </md-icon>
        </md-button>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">

            <img class="OF-cover" style="height: 200px;" src="components/app/About Banner-530188853_971x364.jpeg" />

            <p>Building maintenance and renovation services in Washington DC, MD and VA. We provide services to the commercial, industrial, institutional and governmental market sectors.</p>

            <p style="font-weight: bold;">Sectors We Serve:
                <ul>
                    <li>Multi-family</li>
                    <li>Commercial</li>
                    <li>Industrial</li>
                    <li>Institutional</li>
                    <li>Educational</li>
                    <li>Medical</li>
                </ul>
            </p>

            <p style="font-weight: bold;">Mission Statement</p>

            <p>“To offer our clients simple and effective solutions to their building and construction needs. To exceed our client’s expectations through value-driven expertise.”</p>

            <p>Remington Construction is a self-performing commercial construction company offering a full line of construction and maintenance services for your building’s needs. This encompasses your facilities parking garage, exterior façade as well as interior & exterior improvements.</p>

            <p style="font-weight: bold;">Our Values</p>

            <p>“The ability to establish, grow, extend, and restore trust is the key professional and personal competency of our time.” – STEPHEN M.R. COVEY </p>

            <p>We believe in building strong business relationships. We know it takes years to develop a trustworthy relationship and only seconds to lose one. Our team is staffed with highly qualified industry professionals that resolve issues promptly. We understand the importance of customer service and strive to deliver a high quality finished product.</p>

            <p style="font-weight: bold;">We understand the special challenges that our clients face and excel beyond competition with projects that have aggressive schedules and critical opening dates.</p>

        </div>
    </md-dialog-content>

    <md-dialog-actions>
        <form ng-cloak flex>
            <div layout="row" layout-align="end end" layout-padding>
                <div flex></div>
                <div class="md-title">Share:</div>
                <div>
                    <md-button href="//www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fwww.remingtondc.com%2F&title=Remington+Construction&source=https://www.remingtondc.com/"
                        class="md-icon-button md-primary" title="LinkedIn - Remington DC" target="_blank">
                        <i class="fa fa-linkedin footer-social"></i>
                    </md-button>
                    <md-button href="//twitter.com/intent/tweet?original_referer=http%3A%2F%2Fremingtondc.com%2F&ref_src=twsrc%5Etfw&text=Remington%20Construction%20-%20About&tw_p=tweetbutton&url=http%3A%2F%2Fremingtondc.com%2F&via=RemingtonDcCo" 
                        class="md-icon-button md-primary" title="Twitter - Tweet Remington DC" target="_blank">
                        <i class="fa fa-twitter footer-social"></i>
                    </md-button>
                    <md-button href="//www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.remingtondc.com%2F" 
                        class="md-icon-button md-primary" title="Facebook - Remington DC" target="_blank">
                        <i class="fa fa-facebook footer-social"></i>
                    </md-button>
                </div>
            </div>
        </form>
    </md-dialog-actions>
</md-dialog>