<md-dialog aria-label="General Contracting">
    <md-toolbar class="md-toolbar-tools md-hue-2">
        <div class="md-title">General Contracting</div>
        <div flex></div>
        <md-button class="md-icon-button md-primary" ng-click="cancel()" title="Close">
            <!--<i class="material-icons" style="color: black;" aria-label="Close dialog">close</i>-->
            <md-icon class="material-icons md-light md-64 md-title"> close </md-icon>
        </md-button>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">

            <img class="OF-cover" style="height: 200px;" src="components/app/services/construction-services/Construction Services Banner-185102261_1128x310.jpeg" />

            <p>Our General Contracting services, administered by experienced construction managers, effectively minimize your risk and maximize your return on investment. Our team can handle multi-family renovation projects of all sizes and has a lot of success and experience renovating existing buildings while occupied.</p>
            <p>Commercial office buildings require polished and professional designs that meet a certain aesthetic. They must also be functional and fit the needs of the tenant. Remington’s extensive experience in building office facilities continues to fulfill these specific needs.</p>
            <p>All our renovation services come fully equipped with an effective plan and schedule. This gives us the opportunity to minimize customer disruptions while improving your tenant’s facilities. Our experienced staff is familiar with all major systems and has a complete understanding of working in fully operating facilities.</p>
            <p>Services we offer:
                <ul>
                    <li>Multi-family unit renovation</li>
                    <li>Commercial Interiors</li>
                    <li>Tenant Improvements</li>
                    <li>Clean Rooms</li>
                    <li>Retail</li>
                    <li>Government</li>
                
                </ul>
            </p>
            <p style="font-weight: bold;">Our team is versatile, responsive, and staffed with qualified industry professionals that resolve issues promptly. We understand the importance of superior customer service and a high quality finished product.</p>

        </div>
    </md-dialog-content>

    <md-dialog-actions>
        <form ng-cloak flex>
            <div layout="row" layout-align="end end" layout-padding>
                <div flex></div>
                <div class="md-title">Share:</div>
                <div>
                    <md-button href="//www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fwww.remingtondc.com%2F&title=Remington+Construction&source=https://www.remingtondc.com/"
                        class="md-icon-button md-primary" title="LinkedIn - Remington Construction" target="_blank">
                        <i class="fa fa-linkedin footer-social"></i>
                    </md-button>
                    <md-button href="//twitter.com/intent/tweet?original_referer=http%3A%2F%2Fremingtondc.com%2F&ref_src=twsrc%5Etfw&text=Remington%20Construction%20-%20Construction%20Services&tw_p=tweetbutton&url=http%3A%2F%2Fremingtondc.com%2F&via=RemingtonDcCo" 
                        class="md-icon-button md-primary" title="Twitter - Tweet Remington Construction" target="_blank">
                        <i class="fa fa-twitter footer-social"></i>
                    </md-button>
                    <md-button href="//www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.remingtondc.com%2F" 
                        class="md-icon-button md-primary" title="Facebook - Remington Construction" target="_blank">
                        <i class="fa fa-facebook footer-social"></i>
                    </md-button>
                </div>
            </div>
        </form>
    </md-dialog-actions>
</md-dialog>