<md-dialog aria-label="Garage and Deck Coatings">
    <md-toolbar class="md-toolbar-tools">
        <div class="md-title">Garage and Deck Coatings</div>
        <div flex></div>
        <md-button class="md-icon-button md-primary" ng-click="cancel()" title="Close">
            <!--<i class="material-icons" style="color: black;" aria-label="Close dialog">close</i>-->
            <md-icon class="material-icons md-light md-64 md-title" style="color: black;"> close </md-icon>
        </md-button>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">

            <img class="OF-cover" style="height: 200px;" src="components/app/services/garage-and-deck-coatings/Garage and Deck Coatings Banner 595342292_863x408.jpeg" />

            <p>Resurfacing concrete is an economical and environmentally friendly solution to rejuvenate old concrete surfaces. Concrete deteriorates with age, and environmental factors such as the settling of the substrate, weather, freeze and thaw cycles, salt and many other factors accelerate its wear and shorten its life span. Damaged concrete such as cracks, chips and spalling not only look bad, but opens the surface to water penetration and further damage.</p>
            <p>Remington offers a wide range of polyurethane and epoxy traffic coatings that are designed to make concrete decks impermeable to water while offering durability and flexibility that meets the most demanding service conditions. We have the expertise and the experience
to creatively support your design ideas and fulfill different requirements of the park garage construction.</p>
            <p>The protective coatings we use are formulated for ease of application and environmental safety, in addition to numerous performance benefits. These benefits include carbonation reduction, protection against water, chlorides and chemical ingress, hairline crack sealing, protection against cracking caused by dynamic and thermal movement, and improved
light reflectivity and brightness.</p>
            <p>Remington offers a full range of elastomeric, crack-bridging waterproofing solutions:
                <ul>
                    <li>Vehicular & pedestrian coatings</li>
                    <li>Below grade waterproofing</li>
                    <li>Epoxy Injections</li>
                    <li>Route & Seal</li>
                    <li>Joint Caulking</li>
                    <li>Water Testing</li>
                    <li>Spalling Repair</li>
                    <li>Engineering</li>
                </ul>
            </p>
            <p style="font-weight: bold;">Remington is a one-stop shop for your building’s protective coatings - from the basement to the roof, which ensures compatibility and avoids unnecessary maintenance problems.</p>

            <div layout="column" layout-align="center center">
                <!--<div class="md-title">Our Garage and Deck Coatings Projects</div>-->
                <div layout="column" layout-align="center center">
                <md-card class="project-card" layout="column" layout-align="center center" style="background-color: #EEEEEE;">
                    <div class="service-title md-subhead" layout="column" layout-align="start center">
                        <div style="font-weight: bold;">Floor Coating</div>
                        <div>Alexandria, VA</div>
                    </div>
                    <div layout="row" layout-align="space-around center" layout-wrap layout-padding>
                        <img src="components/app/services/garage-and-deck-coatings/Floor Coating - Alexandria VA/Floor Coating - Alexandria VA - 1.jpeg">
                        <img src="components/app/services/garage-and-deck-coatings/Floor Coating - Alexandria VA/Floor Coating - Alexandria VA - 2.jpeg">
                    </div>
                </md-card>
                <md-card class="project-card" layout="column" layout-align="center center" style="background-color: #EEEEEE;">
                    <div class="service-title md-subhead" layout="column" layout-align="start center">
                        <div style="font-weight: bold;">Garage Coatings</div>
                        <div>Falls Church, VA</div>
                    </div>
                    <div layout="row" layout-align="space-around center" layout-wrap layout-padding>
                        <img src="components/app/services/garage-and-deck-coatings/Garage Coatings - Falls Church VA/Garage Coatings - Falls Church VA - 1.jpeg">
                        <img src="components/app/services/garage-and-deck-coatings/Garage Coatings - Falls Church VA/Garage Coatings - Falls Church VA - 2.jpeg">
                        <img src="components/app/services/garage-and-deck-coatings/Garage Coatings - Falls Church VA/Garage Coatings - Falls Church VA - 5.jpeg">
                    </div>
                </md-card>
                <md-card class="project-card" layout="column" layout-align="center center" style="background-color: #EEEEEE;">
                    <div class="service-title md-subhead" layout="column" layout-align="start center">
                        <div style="font-weight: bold;">Spalling Repair</div>
                        <div>Upper Marlboro, MD</div>
                    </div>
                    <div layout="row" layout-align="space-around center" layout-wrap layout-padding>
                        <img src="components/app/services/garage-and-deck-coatings/Spalling Repair - Upper Marlboro MD/Spalling Repair - Upper Marlboro MD - 1.jpeg">
                        <img src="components/app/services/garage-and-deck-coatings/Spalling Repair - Upper Marlboro MD/Spalling Repair - Upper Marlboro MD - 2.jpeg">
                    </div>
                </md-card>
                </div>
            </div>

        </div>
    </md-dialog-content>

    <md-dialog-actions>
        <form ng-cloak flex>
            <div layout="row" layout-align="end end" layout-padding>
                <div flex></div>
                <div class="md-title">Share:</div>
                <div>
                    <md-button href="//www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fwww.remingtondc.com%2F&title=Remington+Construction&source=https://www.remingtondc.com/"
                        class="md-icon-button md-primary" title="LinkedIn - Remington Construction" target="_blank">
                        <i class="fa fa-linkedin footer-social"></i>
                    </md-button>
                    <md-button href="//twitter.com/intent/tweet?original_referer=http%3A%2F%2Fremingtondc.com%2F&ref_src=twsrc%5Etfw&text=Remington%20Construction%20-%20Garage%20and%20Deck%20Coatings&tw_p=tweetbutton&url=http%3A%2F%2Fremingtondc.com%2F&via=RemingtonDcCo" 
                        class="md-icon-button md-primary" title="Twitter - Tweet Remington Construction" target="_blank">
                        <i class="fa fa-twitter footer-social"></i>
                    </md-button>
                    <md-button href="//www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.remingtondc.com%2F" 
                        class="md-icon-button md-primary" title="Facebook - Remington Construction" target="_blank">
                        <i class="fa fa-facebook footer-social"></i>
                    </md-button>
                </div>
            </div>
        </form>
    </md-dialog-actions>
</md-dialog>