<md-dialog aria-label="HVAC">
    <md-toolbar class="md-toolbar-tools">
        <div class="md-title">HVAC</div>
        <div flex></div>
        <md-button class="md-icon-button md-primary" ng-click="cancel()" title="Close">
            <!--<i class="material-icons" style="color: black;" aria-label="Close dialog">close</i>-->
            <md-icon class="material-icons md-light md-64 md-title" style="color: black;"> close </md-icon>
        </md-button>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">

            <img class="OF-cover" style="height: 200px;" src="components/app/services/hvac/HVAC Services Banner-636637292_927x380.jpeg" />
            
            <p>An industry leader in the design, planning and installation of HVAC systems, Remington Construction rises to the challenge of tackling complex jobs. We offer a complete service - from designing your company’s climate control solution - to comprehensive service and maintenance. The installation of the HVAC systems can be technically challenging, and the successful coordination of multiple building trades on a job site requires a high degree of skilled project management. Retrofitting an existing building can be especially complex but doing so while the building is occupied is a whole other story.</p>
 
<p>The biggest differentiator for builders and developers this year is likely to be technology in construction — specifically, the innovations that can enhance efficiency. Remington is always looking to introduce Innovative technologies that create better and healthier human environments. We work hard to clearly communicate the benefits of new technology and advanced systems in order to alleviate concerns and to ensure the best, most reliable and efficient short and long-term results.</p>
 
<p>An expert in the installation of variable refrigerant flow (VRF) systems. These innovative systems include the installation of outdoor condensing units that, when connected to multiple indoor units, have the ability to simultaneously provide targeted heating and cooling to different zones of the same building.</p>
 
<p>Our team members prioritize selecting high-quality materials and products that are long-lasting, and they employ construction techniques that are designed to reduce future maintenance and repairs. The materials and products that they specify carry long-term warranties.</p>
 
<p>Our certified installation team is highly trained and familiar with the latest climate control technology. They can problem-solve in real-time for optimum results. Whether it’s a new equipment installation, replacement or maintenance, our team understands your HVAC needs. With our VRF system knowledge, we will be able to increase efficiency while reducing your overall maintenance and operating costs.</p>

            
            <p>Services we offer:
                <ul>
                    <li>New Systems Design</li>
                    <li>VRF Systems Installation</li>
                    <li>HVAC Systems Installation</li>
                    <li>New Generation Boilers and Heat exchangers</li>
                    <li>Fan Coil Replacement</li>
                </ul>
            </p>
            <p style="font-weight: bold;">We provide energy-efficient installation, maintenance and repairs of your building HVAC system. Our solutions give business owners a way to minimize their customer disruptions while improving the efficiency of their systems and the air quality in their facilities.</p>

        </div>
    </md-dialog-content>

    <md-dialog-actions>
        <form ng-cloak flex>
            <div layout="row" layout-align="end end" layout-padding>
                <div flex></div>
                <div class="md-title">Share:</div>
                <div>
                    <md-button href="//www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fwww.remingtondc.com%2F&title=Remington+Construction&source=https://www.remingtondc.com/"
                        class="md-icon-button md-primary" title="LinkedIn - Remington Construction" target="_blank">
                        <i class="fa fa-linkedin footer-social"></i>
                    </md-button>
                    <md-button href="//twitter.com/intent/tweet?original_referer=http%3A%2F%2Fremingtondc.com%2F&ref_src=twsrc%5Etfw&text=Remington%20Construction%20-%20HVAC&tw_p=tweetbutton&url=http%3A%2F%2Fremingtondc.com%2F&via=RemingtonDcCo" 
                        class="md-icon-button md-primary" title="Twitter - Tweet Remington Construction" target="_blank">
                        <i class="fa fa-twitter footer-social"></i>
                    </md-button>
                    <md-button href="//www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.remingtondc.com%2F" 
                        class="md-icon-button md-primary" title="Facebook - Remington Construction" target="_blank">
                        <i class="fa fa-facebook footer-social"></i>
                    </md-button>
                    <md-button href="//plus.google.com/share?url=https%3A%2F%2Fwww.remingtondc.com%2F" 
                        class="md-icon-button md-primary" title="Google Plus - Remington Construction" target="_blank">
                        <i class="fa fa-google-plus footer-social"></i>
                    </md-button>
                </div>
            </div>
        </form>
    </md-dialog-actions>
</md-dialog>