<md-dialog aria-label="HVAC">
    <md-toolbar class="md-toolbar-tools">
        <div class="md-title">HVAC</div>
        <div flex></div>
        <md-button class="md-icon-button md-primary" ng-click="cancel()" title="Close">
            <!--<i class="material-icons" style="color: black;" aria-label="Close dialog">close</i>-->
            <md-icon class="material-icons md-light md-64 md-title" style="color: black;"> close </md-icon>
        </md-button>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">

            <img class="OF-cover" style="height: 200px;" src="components/app/services/hvac/HVAC Services Banner-636637292_927x380.jpeg" />

            <p>We offer a complete service - from designing your company’s climate control solution - to comprehensive service and maintenance. 
                Our certified installation team is highly-trained and familiar with the latest climate control technology. 
                They can problem-solve in real-time for optimum results. 
                Whether it’s a new equipment installation, replacement or maintenance, our team understands your HVAC needs. 
                With our hydronic system knowledge, we will be able to increase efficiency while reducing your overall maintenance and operating costs.</p>
            <p>Remington is always looking to introduce Innovative technologies that create better and healthier human environments. Radiant heating and cooling and pre-insulated pipes provide for consistent, reliable and long-lasting plumbing solutions for commercial structures.</p>
            <p>Services we offer:
                <ul>
                    <li>New Systems Design</li>
                    <li>HVAC Units Installation</li>
                    <li>New Generation Boilers and Heat exchangers</li>
                    <li>Fan Coil Replacement</li>
                    <li>Radiant Heating and Cooling Systems</li>
                </ul>
            </p>
            <p style="font-weight: bold;">We provide energy-efficient installation, maintenance and repairs of your building HVAC system. Our solutions give business owners a way to minimize their customer disruptions while improving the efficiency of their systems and the air quality in their facilities.</p>

            <div layout="column" layout-align="center center">
                <!--<div class="md-title">Our HVAC Projects</div>-->
                <div layout="column" layout-align="center center">
                <md-card class="project-card" layout="column" layout-align="center center" style="background-color: #EEEEEE;">
                    <div class="service-title md-subhead" layout="column" layout-align="start center">
                        <div style="font-weight: bold;">HVAC System Replacement</div>
                        <div>Washington DC</div>
                    </div>
                    <div layout="row" layout-align="space-around center" layout-wrap layout-padding>
                        <img src="components/app/services/hvac/HVAC System Replacement - Washington DC/HVAC System Replacement - Washington DC - 1.JPG">
                        <img src="components/app/services/hvac/HVAC System Replacement - Washington DC/HVAC System Replacement - Washington DC - 2.JPG">
                    </div>
                </md-card>
                <md-card class="project-card" layout="column" layout-align="center center" style="background-color: #EEEEEE;">
                    <div class="service-title md-subhead" layout="column" layout-align="start center">
                        <div style="font-weight: bold;">Dehumidifier Replacement</div>
                        <div>Fredericksburg, VA</div>
                    </div>
                    <div layout="row" layout-align="space-around center" layout-wrap layout-padding>
                        <img src="components/app/services/hvac/Dehumidifier Replacement - Fredericksburg VA/Dehumidifier Replacement - Fredericksburg VA - 1.jpeg">
                        <img src="components/app/services/hvac/Dehumidifier Replacement - Fredericksburg VA/Dehumidifier Replacement - Fredericksburg VA - 3.jpeg">
                        <img src="components/app/services/hvac/Dehumidifier Replacement - Fredericksburg VA/Dehumidifier Replacement - Fredericksburg VA - 4.jpeg">
                        <img src="components/app/services/hvac/Dehumidifier Replacement - Fredericksburg VA/Dehumidifier Replacement - Fredericksburg VA - 5.jpeg">
                        <img src="components/app/services/hvac/Dehumidifier Replacement - Fredericksburg VA/Dehumidifier Replacement - Fredericksburg VA - 6.jpeg">
                    </div>
                </md-card>
                </div>
            </div>

        </div>
    </md-dialog-content>

    <md-dialog-actions>
        <form ng-cloak flex>
            <div layout="row" layout-align="end end" layout-padding>
                <div flex></div>
                <div class="md-title">Share:</div>
                <div>
                    <md-button href="//www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fwww.remingtondc.com%2F&title=Remington+Construction&source=https://www.remingtondc.com/"
                        class="md-icon-button md-primary" title="LinkedIn - Remington Construction" target="_blank">
                        <i class="fa fa-linkedin footer-social"></i>
                    </md-button>
                    <md-button href="//twitter.com/intent/tweet?original_referer=http%3A%2F%2Fremingtondc.com%2F&ref_src=twsrc%5Etfw&text=Remington%20Construction%20-%20HVAC&tw_p=tweetbutton&url=http%3A%2F%2Fremingtondc.com%2F&via=RemingtonDcCo" 
                        class="md-icon-button md-primary" title="Twitter - Tweet Remington Construction" target="_blank">
                        <i class="fa fa-twitter footer-social"></i>
                    </md-button>
                    <md-button href="//www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.remingtondc.com%2F" 
                        class="md-icon-button md-primary" title="Facebook - Remington Construction" target="_blank">
                        <i class="fa fa-facebook footer-social"></i>
                    </md-button>
                    <md-button href="//plus.google.com/share?url=https%3A%2F%2Fwww.remingtondc.com%2F" 
                        class="md-icon-button md-primary" title="Google Plus - Remington Construction" target="_blank">
                        <i class="fa fa-google-plus footer-social"></i>
                    </md-button>
                </div>
            </div>
        </form>
    </md-dialog-actions>
</md-dialog>