<md-dialog aria-label="Plumbing">
    <md-toolbar class="md-toolbar-tools md-hue-2">
        <div class="md-title">Plumbing</div>
        <div flex></div>
        <md-button class="md-icon-button md-primary" ng-click="cancel()" title="Close">
            <!--<i class="material-icons" style="color: black;" aria-label="Close dialog">close</i>-->
            <md-icon class="material-icons md-light md-64 md-title"> close </md-icon>
        </md-button>
    </md-toolbar>

    <md-dialog-content>

        <div class="md-dialog-content">

            <img class="OF-cover" style="height: 200px;" src="components/app/services/plumbing/Plumbing service banner-538815317_907x386.jpeg" />

            <p>Committed to using excellent materials and construction techniques that will last for many years to come, Remington is known for considering even small details to make future property maintenance a breeze. As a fast-growing company, Remington has embraced new technology as a key to staying on top of their industry.</p>
            <p>We continuously look for cutting-edge solutions that offer quality and reliability - both during installation and operation.  
                These innovative solutions provide us with a better way to install commercial plumbing systems that save time, reduce liability and provide long-lasting performance. We proudly back our plumbing systems with a limited 25-year warranty.</p>
            <p>With more and more engineers specifying PEX and PPR piping, many building owners are seeing the benefits of this flexible, durable and sustainable product. It often lasts the lifetime of a structure and provides a piece of mind for engineers, facility owners, managers and end users.  The products we install are reliable, competitively priced, and environmentally friendly. Remington is committed to sustainability on our jobsites.</p>
            <p>Whether you need preventative or reparative plumbing work, our trained staff is ready to service your building. Performing preventative maintenance is the best way to avoid major plumbing disasters in the future.</p>
            <p>Services we offer:
                <ul>
                
                    <li>Pipe replacements</li>
                    <li>Water Heater systems</li>
                    <li>Fixtures replacement</li>
                    <li>New installations</li>
                    <li>Maintenance plans</li>
                </ul>
            </p>
            <p style="font-weight: bold;">For professional and dependable plumbing services, come to the trusted commercial specialists – Remington Construction. Whether your project is a new installation, upgrades or repair and maintenance, we are the experts.</p>
            
        </div>
    </md-dialog-content>

    <md-dialog-actions>
        <form ng-cloak flex>
            <div layout="row" layout-align="end end" layout-padding>
                <div flex></div>
                <div class="md-title">Share:</div>
                <div>
                    <md-button href="//www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fwww.remingtondc.com%2F&title=Remington+Construction&source=https://www.remingtondc.com/"
                        class="md-icon-button md-primary" title="LinkedIn - Remington Construction" target="_blank">
                        <i class="fa fa-linkedin footer-social"></i>
                    </md-button>
                    <md-button href="//twitter.com/intent/tweet?original_referer=http%3A%2F%2Fremingtondc.com%2F&ref_src=twsrc%5Etfw&text=Remington%20Construction%20-%20Plumbing&tw_p=tweetbutton&url=http%3A%2F%2Fremingtondc.com%2F&via=RemingtonDcCo" 
                        class="md-icon-button md-primary" title="Twitter - Tweet Remington Construction" target="_blank">
                        <i class="fa fa-twitter footer-social"></i>
                    </md-button>
                    <md-button href="//www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.remingtondc.com%2F" 
                        class="md-icon-button md-primary" title="Facebook - Remington Construction" target="_blank">
                        <i class="fa fa-facebook footer-social"></i>
                    </md-button>
                </div>
            </div>
        </form>
    </md-dialog-actions>
</md-dialog>